/*设置行*/
.el-row {
    min-height: 50px;
    margin-bottom: 20px;
    align-items: center;
}

/*容器样式*/
body > .main_container {
    height: calc(100vh - 80px);
    margin-bottom: 40px;
}

/*日志状态的图标样式*/
.block i {
    background-color: white;
    border-radius: 20px;
    transition: color .15s linear;
    font-size: 32px;
}

/*未启用状态的图标*/
.el-icon-turn-off {
    color: #808080;
}

/*运行状态的图标*/
.el-icon-loading {
    color: #5e6d82;
}

/*空闲状态的图标*/
.el-icon-remove-outline {
    color: #28a745;
}

/*未知状态的图标*/
.el-icon-question {
    color: #ffc107;
}

/*已停止状态的图标*/
.el-icon-switch-button {
    color: #cb2431;
}

.el-dialog__body {
    min-height: 300px;
}
