/*头部样式*/
.el-header {
    text-align: left;
    line-height: 60px;
    color: #586069;
    font-weight: 400;
}

    .el-header i {
        font-size: 39px;
    }

    .el-header .overall_title {
        font-size: 30px;
    }

    .el-header .overall_explain {
        font-size: 20px;
    }

/*容器样式*/
body > .full_container {
    margin-bottom: 40px;
}

.main_container {
    height: calc(100vh - 80px);
}

.el-tabs__content {
    height: 100%;
}

.el-tabs {
    width: 100%;
}

/*标签内容页的统一样式*/
.el-tab-pane {
    height: 100%;
}

/*标签内容页-实时日志部分的样式*/
.reallog_pane {
    overflow: auto;
    padding-top: 20px !important;
    border-radius: 4px !important;
    background: #24292e;
}

    .reallog_pane .block {
        padding-bottom: 50px;
    }

    .reallog_pane .el-timeline-item__timestamp {
        line-height: 20px;
        color: #fafbfc;
    }

    .reallog_pane .el-timeline-item__content {
        overflow-x: auto;
        white-space: pre-wrap;
        color: #e1e4e8;
        font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace !important;
        font-size: 12px !important;
    }

/*日志状态的图标样式*/
.block i {
    background-color: white;
    border-radius: 20px;
    transition: color .15s linear;
    font-size: 32px;
}

/*一般日志的图标*/
.el-icon-info {
    color: #5e6d82;
}

/*正常日志的图标*/
.el-icon-success {
    color: #28a745;
}

/*警告日志的图标*/
.el-icon-warning {
    color: #ffc107;
}

/*异常日志的图标*/
.el-icon-error {
    color: #cb2431;
}
