body {
    text-align: center;
    background-color: indianred;
}

.male {
    color: #409EFF;
}

.female {
    color: #F56C6C;
}

.el-footer span {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace !important;
    font-size: 30px;
    color: white;
}
